# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
env/
venv/

# Poetry
# Si quieres versionar poetry.lock déjalo, si no:
# poetry.lock

# Environment variables
.env

# FastAPI / Uvicorn logs
*.log

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/
.cache/
